@model IEnumerable<Fruteria.ViewModels.ProductosViewModel>

@{
    ViewBag.Title = "AddToCart";
}

<h2>Añadir Unidades</h2>

<div class="card">
    <table class="table">
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Nombre del Producto</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Oferta</th>
                <th>Cantidad</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                using (Html.BeginForm("AddToCart", "Carrito", FormMethod.Post))
                {
                    <tr>
                        <td><img src="@item.ImagenURL" width="100" height="100" alt="Imagen del producto" /></td>
                        <td>@Html.DisplayFor(modelItem => item.NombreProducto)</td>
                        <td>@Html.DisplayFor(modelItem => item.Precio)</td>
                        <td>@Html.DisplayFor(modelItem => item.Stock)</td>
                        <td>@Html.DisplayFor(modelItem => item.Oferta)</td>

                        <td>
                            @Html.Hidden("idProducto", item.idProducto)
                            @Html.TextBox("Cantidad", "1", new { type = "number", min = "1", max = item.Stock })
                        </td>

                        <td>
                            <button type="submit">Añadir al Carrito</button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
