@model IEnumerable<Fruteria.ViewModels.CarritoViewModel>

@{
    ViewBag.Title = "Carro";
}

<h2>Carro</h2>
<strong>Usuario</strong>: @LoginManager.Instance.GetCurrentUser()

@if (Model == null || !Model.Any())
{
    <h1>No hay productos en el carrito.</h1>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.oProducto.NombreProducto)</td>
                    <td>@Html.DisplayFor(modelItem => item.oProducto.Precio)</td>
                    <td>@Html.DisplayFor(modelItem => item.CantidadCompra)</td>
                    <td>
                        @Html.ActionLink("Añadir Más", "AddToCart", "Carrito", new { idProducto = item.idProducto }, null)
                        @Html.ActionLink("Eliminar", "RemoveFromCart", "Carrito", new { idProducto = item.idProducto }, null)
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="row">
        <div class="col-md-6">
            <form method="post" action="@Url.Action("Comprar", "Carrito")">
                <button id="boton" type="submit" class="btn btn-default">Comprar</button>
            </form>
        </div>
        <div class="col-md-6">
            @Html.ActionLink("Volver", "Index", "Home", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
}

<style>
    #boton {
        border-radius: 5px;
        background-color: black;
        color: white;
        width: 10vw;
    }
</style>