@model IEnumerable<Fruteria.ViewModels.ProductosViewModel>

@{
    ViewBag.Title = "ListaCompras";
}

<h2>Añadir Unidades</h2>

<div class="card">
    <table class="table">
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Nombre del Producto</th>
                <th>Precio</th>
                <th>Stock</th>
                <th>Oferta</th>
                <th>Cantidad</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    using (Html.BeginForm("ListaCompras", "Carrito", FormMethod.Post))
                    {
                        <tr>
                            <td>
                                <img src="@item.ImagenURL" width="100" height="100" alt="Imagen del producto" />
                            </td>
                            <td>@item.NombreProducto</td>
                            <td>@item.Precio €</td>
                            <td>@item.Stock</td>
                            <td>@(item.Oferta.HasValue ? item.Oferta.Value.ToString("P0") : "Sin oferta")</td>
                            <td>
                                @Html.Hidden("idProducto", item.idProducto)
                                @Html.Hidden("idUsuario", Session["UsuarioID"])
                                @Html.TextBox("cantidad", "1", new { type = "number", min = "1", max = item.Stock })
                            </td>
                            <td>
                                <button type="submit" class="btn btn-primary">Añadir al Carrito</button>
                            </td>
                        </tr>
                    }
                }
            }
            else
            {
                <tr>
                    <td colspan="7" class="text-danger text-center">No hay productos disponibles.</td>
                </tr>
            }
        </tbody>
    </table>
</div>
