@model IEnumerable<Fruteria.ViewModels.CarritoViewModel>
@{
    ViewBag.Title = "VerCarrito";
    var usuario = LoginManager.Instance.GetCurrentUser();

}

<h2>Ver Carrito</h2>
<h2>Usuario: @usuario</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idCarrito)
        </th>
        <th>
            Nombre del Producto
        </th>
        <th>
            Cantidad
        </th>
        <th>
            Total
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.idCarrito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.oProducto.NombreProducto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalProductos)
            </td>
            <td>
                <!--poner accion para añadir o comprar-->
                @using (Html.BeginForm("ActualizarCantidad", "Carrito", FormMethod.Post))
                {
                    @Html.Hidden("idCarrito", item.idCarrito)
                    @Html.TextBox("cantidadNueva", item.CantidadCompra, new { @class = "form-control", type = "number", min = 1 })
                    <br />
                    <button type="submit" class="btn btn-primary">Comprar</button>
                }

            </td>
        </tr>
    }

</table>
