@model IEnumerable<LogicaBiblioteca.Modelos.Carrito>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idCarrito)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreProducto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadCompra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totalProductos)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idCarrito)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreProducto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadCompra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.totalProductos)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idProducto }) |
            @Html.ActionLink("Details", "Details", new { id=item.idProducto }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idProducto })
        </td>
    </tr>
}

</table>
